<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="icon" href="./assets/images/company/flammyTechLogo.png" type="image/png" >

    <title>About</title>
</head>
<body>
    <header>
        <h2 class="news-logo"><a href="/home"><span class="white-text">Super</span><span class="orange-text">Eats</span> </a></h2>
        <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/about">About</a></li>
            <li>Contact</li>
        </ul>
    </header>
</body>
</html>